.header {
  &__top {
    display: flex;
    height: 55px;
    gap: 30px;
  }
  &__location {
    display: flex;
    align-items: center;
    gap: 6px;
    select {
      border: none;
    }
    &-icon {
      padding-bottom: 12px;
    }
  }
  &__nav {
    display: flex;
    gap: 40px;
    align-items: center;
    list-style-type: none;
    margin-bottom: 0;
    flex-grow: 1;
    &-item {
      a {
        text-decoration: none;
        color: $txt-color;
        &:hover {
          color: #999;
        }
      }
      &.delivery {
        margin-right: auto;
      }
    }
  }
  &__divider {
    padding-top: 1px;
    background-color: #e0e0e0;
    width: 100vw;
    margin-bottom: 10px;
  }
  //////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////

  &__middle {
    min-height: 93px;
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 14px;
  }
  &__company {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    &-item {
      &.address {
        a {
          color: $brand-red;
          &:hover {
            color: $brand-red-dark;
          }
        }
      }
      &.search {
        flex-grow: 0.3;
        form {
          height: 46px;
          border: 1px solid $brand-blue;
          border-radius: 25px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-inline: 15px 12px;
          input {
            width: 90%;
            border: none;
            padding: 10px;
            &:focus {
              outline: none;
            }
          }
          button {
            border: none;
            color: $brand-blue;
            font-size: 20px;
            background-color: transparent;
            &:focus {
              outline: none;
            }
          }
        }
      }
      &.phone {
        position: relative;
        img {
          position: absolute;
          font-size: 20px;
          top: 20%;
          transform: translatey(-50%);
          left: -25px;
        }
        a {
          display: block;

          text-decoration: none;
          color: $txt-color;
          padding-bottom: 8px;
        }
        button {
          color: $brand-red;
          border: 1px solid $brand-red;
          border-radius: 5px;
          background-color: transparent;
          padding: 8px 25px 12px;
          &:hover {
            color: $brand-red-dark;
            border-color: $brand-red-dark;
          }
        }
      }
    }
  }
  &__user {
    display: flex;
    gap: 38px;
    &-item {
      text-align: center;
      border: none;
      background-color: transparent;

      &.favorites {
        position: relative;
        .counter {
          position: absolute;
          color: #fff;
          left: 75%;
          background-color: $brand-red;
          padding: 2px 14px;
          border-radius: 7px;
        }
      }
    }
  }
  /////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////
  &__bottom {
    background-color: $brand-blue;
    height: 60px;
    position: relative;
  }
  &__menu {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    &-item {
      a {
        text-decoration: none;
        color: inherit;
        &:hover {
          color: #999;
        }
      }
      &.active {
        color: #999;
      }
      &.dark-blue {
        background-color: $brand-blue-dark;
        height: 100%;

        color: #fff;
        padding: 18px 22px 22px;
        border-radius: 5px;
      }
    }
  }

  &__submenu {
    position: absolute;
    bottom: 0%;
    transform: translateY(100%);
    width: 217px;
    background-color: #ffffff;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 5px 5px;
    list-style-type: none;
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    &-item {
      padding: 10px 30px;
      &:hover {
        background-color: #f4f4f4;
      }
    }
  }
}

.rect {
  min-height: 387px;
  background-color: #c4c4c4;
  margin-top: 42px;
  border-radius: 10px;
}
.on-mobile {
  display: none;
}
